<div id="main" *ngIf="!showError">
  <div id="logo">
    <img src="assets/logo.png" width="300px" height="250" alt="">
  </div>
  <div>
    <form>
      <input type="text" [(ngModel)]="cardName" name="card">
      <button id="find-button" (click)="findByName()">Find</button>
      <button id="find-button" (click)="onRandom()">Random Card</button>
    </form>
  </div>
  <div id="deck">
    <ul>
      <li *ngFor="let cardMonster of deck" ><img src={{cardMonster.imageUrlSmall}} width="168" height="246" alt=""></li>
    </ul>
  </div>
  <div *ngIf="isCardSelected" id="modal">
    <div id="buttons-card">
      <img src="assets/cancel.png" (click)="closeCard()" alt="Cancel" width="55" height="55">
      <img src="assets/save.png" (click)="addCard()" alt="Save" width="55" height="55">
    </div>
    <img src={{card.imageUrl}} width="400" height="600px" alt="card">
  </div>
</div>
<app-error [errorMessage]="errorMessage" (closeWindowError)="onCloseWindowError()" [showError]="showError"></app-error>
<router-outlet></router-outlet>
